/* pondriamos las propiedades CSS que necesitamos*/
@media ( max-width:768px){
    ul{
        flex-direction: column ;
    }
}
.container-header{
    background-color:#ffffffe6;
    height: 500px;
}

li{
    color: green;
}


.principal-search{
    height: 100vh;
}


