.main-contact{
    height: 100vh;
}

.main-contact-div{ 
    background-color: rgba(92, 117, 146,0.9); 
}

.color-white{
    color: whitesmoke !important;
}

.color-blue{
    color:#223142!important;
}