.form-switch{
    color:#6ECCAF ;
    background-color: #344D67;
    border-radius: 8px;
}

.form-switch .form-check-input{
    background-color: #b1f0dc ;
}

.form-switch .form-check-input:checked{
    background-color: #223142; 
}

.form-check-input:checked+ .form-check-label{
    color: whitesmoke;
}